<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Linyin, Peng Wan's graduation project in Haut.
  ~ Copyright (C) 2016 Peng Wan <phylame@163.com>. All Rights Reserved.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">

  <mongo:mongo-client host="${mongo.host}" port="${mongo.port}">
    <mongo:client-options connect-timeout="${mongo.connectTimeout}" connections-per-host="${mongo.connectionsPerHost}"
                          threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
                          max-wait-time="${mongo.maxWaitTime}" socket-keep-alive="${mongo.socketKeepAlive}"
                          socket-timeout="${mongo.socketTimeout}"/>
  </mongo:mongo-client>

  <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
    <constructor-arg index="0" ref="mongo"/>
    <constructor-arg index="1" value="${mongo.database}"/>
  </bean>

  <mongo:repositories base-package="pw.phylame.linyin.data.repository"/>

</beans>
